*{
    margin: 0;
    padding:0;
}


#background {
    width: 100vw;
    height: 92vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    z-index: 2000;
}

img, #canvas-container{
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top:48%;
    left:50%;
}


img{
    width: 1145px;
    height: 1608px;
}

#canvas-container{
    width: 1014px;
    height:618px;
}

.canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /* background-color: rgb(255,255,255); */
}

#canvas-draft{
    background-color: transparent;
    z-index: 1000;
}




#toolBar{
    background-color: rgb(128,128,128);
    width: 100vw;
    height: 8vh;
}
